@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: darkred;
    background-color: #eeb140;
}

header{
    padding: 15px 70px;
    width: 100%;
    
}

.logo{
    float: left;
}
body {
    font-family: "Poppins", sans-serif;
}

.options{
    display: inline-block;
    float: right;
    margin-top: -300px ;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    color: darkred;
    font-size: 20px;
    text-decoration: none;
}

.left{
    width: 50%;
    float: left;
    margin-top: 300px;
    text-align: left;
    font-size: 20px;
    padding: 0 0 0 80px;
}

.left a {
    display: inline-block;
    padding: 30px 150px;
    background-color: darkred;
    color: white;
    text-decoration: none;

}

.right{
    width: 50%;
    float: right;
    margin-top: 300px;
}

