@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: darkred;
    background-color: #eeb140;
}

img {
    max-width: 60%;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}